* {
    margin: 0;
    padding: 0;
}

/* :root{
  --main-font-color:#000;
}
html {}
body {}
*/

/*
  ================= Desktop navigation =====================
*/
.navigation--desktop{
    display: flex;
    justify-content: center;
}

.navigation--desktop ul{
    display: flex;
}

.navigation--desktop ul li{
   display: inline-block;
}